// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）
@primary-color: #eff7ff;
@layout-sider-background: #9ed1ff;
@menu-dark-bg: #9ed1ff;
@menu-dark-submenu-bg: #85c4ff;
@layout-body-background: #fff;
@card-actions-background: #f5f8fa;
@icon-url: '../../../../../src/resources/fonts/font_antd3.0.3';

@sg-slider_hd_bg: #b1daff;
@sg-slider_title_color: #1461a6;
@sg-slider_bg: url('../../resources/images/slider-bg.png');
