// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）
// @border-radius-base: 3px;
// @border-radius-sm: 2px;
// @shadow-color: rgba(0,0,0,0.05);
// @shadow-1-down: 4px 4px 40px @shadow-color;
// @border-color-split: #f4f4f4;
// @border-color-base: #e5e5e5;
// @menu-dark-bg: #3e3e3e;
// @text-color: #666;
@primary-color: #102a65;
@layout-sider-background: #0a2152;
@menu-dark-bg: #0a2152;
@menu-dark-submenu-bg: #071635;
@card-actions-background: #f5f8fa;
@icon-url: '../../../../../src/resources/fonts/font_antd3.0.3';

@sg-slider_hd_bg: #102a65;
@sg-slider_title_color: #fff;
@sg-slider_bg: #0a2152;
