// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）
@primary-color: #ff3739;
@layout-sider-background: #290509;
@menu-dark-bg: #290509;
@menu-dark-submenu-bg: #14000a;
@card-actions-background: #f5f8fa;
@icon-url: '../../../../../src/resources/fonts/font_antd3.0.3';

@sg-slider_hd_bg : #6c101a;
@sg-slider_title_color: #fff;
@sg-slider_bg: #290509;
