<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SinoGear 赛姬</title>
  <link rel="stylesheet" href="./index.css" id="styles-index"/>
  <link rel="icon" href="./favicon.png" type="image/x-icon">
</head>
<body>
  <div id="root"></div>
</body>

</html>
